*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


ul, nav{
    list-style: none;
}


body{
    font: normal 16px "Arial", sans-serif;
    color:#555;
}

a{
    text-decoration: none;
    color:inherit;
    cursor:pointer;
    opacity: 0.9;
}

a:hover{
    opacity: 1;
}
